<div ng-controller="CommentsHandler">
  <div class="content">
    <form ng-submit="add()">
      <input type="text" class="textfield" placeholder="Your name" ng-model="commentUser" />
      <textarea class="textarea" ng-model="commentContent" placeholder="Type your comment here..."></textarea>
      <button class="button">Add comment</button>
    </form>
  </div>

  <input type="text" ng-model="search" ng-hide="true" />
  <ul class="comments-list">
    <li ng-repeat="comment in comments | filter: search track by $index">
      <comment-row></comment-row>
    </li>
  </ul>
</div>