<form class="add-task" ng-submit="add()">
  <input type="text" class="textfield master-textfield" ng-model="task" placeholder="Enter your task and press Enter" />
</form>

<div class="content">
  <div class="filter">
    <label>Filter tasks:</label>
    <select ng-model="past.completed">
      <option value="">All</option>
      <option value="true">Completed</option>
      <option value="false">Not completed</option>
    </select>
  </div>

  <ul class="task-list">
    <li ng-repeat="task in tasks | filter:past track by $index" class="clearfix" ng-class="{ completed: task.completed }">
      <task-row></task-row>
    </li>
  </ul>
</div>