<div class="content">
  <div class="task-heading clearfix">
    <h2>{{ title }}</h2>
    <span class="state" ng-class="{ completed: completed === 'completed' }">{{ completed }}</span>
  </div>
</div>

<div ng-include="'javascript/views/comments.html'"></div>

<div class="content">
  <div class="back clearfix">
    <a href="#/">Back to tasks</a>
  </div>
</div>