<ul>
  <li>
    <a href="http://abpetkov.bitbucket.org/angular-task-manager/app/">Task Manager App with AngularJS</a>
  </li>
  <li>
    <a href="http://abpetkov.bitbucket.org/angular-coffeescript-task-manager/app/">Task Manager App with AngularJS and CoffeeScript</a>
  </li>
</ul>