<div class="comment-info clearfix">
  <strong>{{ comment.user }}</strong>
  <span>{{ comment.time | date: 'H:mm MM/dd/yyyy' }}</span>
</div>
<div class="comment-content">
  <span>{{ comment.content }}</span>
</div>
