/**
 *
 * Defaults.
 *
 */

.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

body {
  background-image: url('http://i.imgur.com/RlEV1Vx.jpg');
  color: #333;
  font-family: 'Alef', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

a {
  color: #dfa730;
  text-decoration: none;

  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #b88417;
}

/**
 *
 * General layout.
 *
 */

.container {
  background-color: #fff;
  border-radius: 10px;
  margin: 100px auto;
  width: 500px;

  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.content {
  padding: 0 20px 20px;
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 *
 * Form Elements and buttons.
 *
 */

.add-task {
  padding: 3px 3px 0;
}

.textfield,
.textarea {
  background: #fff;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 15px;
  width: 100%;

  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  -ms-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.textfield:focus,
.textarea:focus {
  outline: 0;

  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
}

.textarea {
  height: 190px;
  margin-bottom: 0;
  padding: 15px;
  resize: none;
}

.button {
  background-color: #c78715;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: #dd9b26;
}

.button:active {
  background-color: #a77112;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.button:focus {
  outline: 0;
}

/**
 *
 * Task List.
 *
 */

.task-list {
  margin: 0;
  padding: 0;
}

.task-list li {
  border-bottom: 1px solid #f1f1f1;
  display: table;
  list-style: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.task-list li:last-child {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

.task-list li a {
  display: table-cell;
  vertical-align: middle;
  width: 334px;
}

.completed {
  opacity: 0.5;
}

.check,
.cross {
  cursor: pointer;
  display: table-cell;
  height: 60px;
  width: 60px;
}

.check {
  background: url('https://cdn3.iconfinder.com/data/icons/iconic-1/32/check-20.png') 50% 50% no-repeat;
}

.cross {
  background: url('https://cdn3.iconfinder.com/data/icons/iconic-1/32/x_alt-20.png') 50% 50% no-repeat;
}

.filter {
  margin-bottom: 20px;
  text-align: right;
}

.filter label {
  color: #c78715;
  font-size: 0.8em;
  margin-right: 10px;
}

/**
 *
 * Task View.
 *
 */

.task-heading {
  border-bottom: 1px solid #f1f1f1;
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
}

.task-heading h2 {
  float: left;
  width: 75%;
}

.state {
  color: #97b5ca;
  float: right;
  text-align: right;
  text-transform: capitalize;
  width: 25%;
}

.state.completed {
  color: #099709;
}

.comments-list {
  padding: 0;
}

.comments-list li {
  list-style: none;
  margin: 20px 0;
  padding: 10px 20px;
}

.comments-list li:nth-child(even) {
  background: #f1f1f1;
}

.comment-info {
  margin-bottom: 10px;
}

.comment-info > strong {
  float: left;
  width: 320px;
}

.comment-info > span {
  color: #52c0ff;
  font-size: 0.8em;
  float: right;
  width: 105px;
}

.back {
  border-top: 1px solid #f1f1f1;
  margin-top: 20px;
  padding-top: 15px;
}

.back > a {
  background: url('https://cdn0.iconfinder.com/data/icons/typicons-2/24/arrow-back-24.png') 0 50% no-repeat;
  float: right;
  padding: 4px 0 0 30px;
}